<div class="employee-form-cotainer">

    <div class="formCard-employee">
           <h2 style="margin-bottom: 1rem;">Adicionar Funcionário</h2>
            <form [formGroup]="employeeForm" (submit)="registerEmployee()" action="" class="form">
            <div class="fields">
                <label for="name">Nome</label>
            <input type="text"id="name" formControlName="name" placeholder="">
            </div>
            <div class="fields">
                <label for="name">E-mail</label>
                <input type="text"id="email" formControlName="email" placeholder="">
            </div>
            <div class="fields">
                <label for="cpf">CPF</label>
                <input id="cpf" formControlName="cpf" mask="000.000.000-00">
            </div>
            <div class="fields">
                <label for="cpf">RG</label>
                <input type="text"id="rg" formControlName="rg" placeholder="">
            </div>
            <div class="fields">
                <label for="birth">Data Nasc.</label>
                <input type="text" id="birth" formControlName="birth" placeholder="dd/mm/aaaa" mask="00/00/0000">
            </div>
            <div class="fields">
                <label for="whats">WhatsApp</label>
                <input type="text"id="whats" formControlName="whats" mask="(00) 00000-0000">
            </div>
            <div class="fields">
                <label for="phone">Telefone</label>
                <input type="text"id="personal" formControlName="personal" mask="(00) 00000-0000">
            </div>
            <div class="fields">
                <label for="role">Cargo</label>
                <select id="cargo" formControlName="role" placeholder="" style="width: 150px;">
                    <option value="ADMIN">Administrador</option>
                    <option value="USER">Usuário</option>
                </select>
            </div>
            <div class="fields">
                <label for="password">Senha</label>
                <input type="password" id="password" formControlName="password" placeholder="Senha">
            </div>
            
            </form>
            <button type="submit" (click)="registerEmployee()">Adicionar</button>

    </div>

</div>