<app-menu [userLogged]="user"></app-menu>


<div class="sell-container">


    <div class="options-container-menu">
        <ul class="options-list-menu">      
        <a 
        (click)="toogle('sell')"
        >
            <li>Venda</li>
        </a>
        <a 
        (click)="toogle('sells')"
        >
            <li>Minhas Vendas</li>
        </a>        
        <a 
        (click)="toogle('allsells')"
        *ngIf="user.role=='admin'"
        >
            <li>Todas Vendas</li>
        </a>
        </ul>
    </div>

    <div class="content-management"*ngIf="addSellIsShown==true">
        <app-add-sell></app-add-sell>
    </div>
    <div class="content-management" *ngIf="sellsIsShown==true">
       <app-sells></app-sells>
    </div>
    <div class="content-management" *ngIf="allSellsIsShown==true">
        <app-all-sells></app-all-sells>
     </div>



</div>
