<div class="allsells-container">

    <div class="filter-allsells">
        <input type="date" name="" id="" [(ngModel)]="dateFrom">
        <input type="date" name="" id="" [(ngModel)]="dateTo">
    
        <p>{{dateFrom}}</p>
    
        <button type="button" (click)="dateFilter()">Printa</button>
    </div>


    <div class="content">
    
        <div class="table-sell-list">
        <table>
            <thead>
                <td>Operadora</td>
                <td>Reserva</td>
                <td>Valor</td>
                <td>RAV</td>
                <td>Comissão</td>
                <td>Funcionário</td>
            </thead>
            <tbody *ngFor="let i of sellsFiltered" (click)="selectSell(i.id)">       
                    <td>{{i.operator}}</td>
                    <td>{{i.bookingNumber}}</td>
                    <td> R${{i.sellAmount | number:'1.2-2':'br'}}</td>
                    <td>R${{i.rav | number:'':'br'}}</td>
                    <td> </td>
                    <td>{{i.employeeName}}</td>
            </tbody>
            <td style="font-weight: 600;">Total</td>
            <td></td>
            <td>R${{totalSells | number:'1.2-2':'br'}}</td>
            <td>R${{totalRAV | number:'1.2-2':'br'}}</td>
            <td>R${{totalCommission | number:'1.2-2':'br'}}</td>
    
        </table>
        </div>
    
    </div>
    
    </div>
    