<div class="allsells-container">


    <div class="filter-allsells" style="margin-top: 2rem; border-right: solid gray 1px;">
        <div class="filter-date-allsells">
            <span>Inicial:</span>
            <input type="date" name="" id="" [(ngModel)]="dateFrom">
        </div>
        <div class="filter-date-allsells">
            <span>Final:</span>
            <input type="date" name="" id="" [(ngModel)]="dateTo">
        </div>
        <div class="filter-employee-allsells">
            <span>Colaborador:</span>
           <!-- <input list="employee" name="myBrowser" [(ngModel)]="employee">
                <datalist id="employee">
                    <option *ngFor="let i of employees" [value]="i.email">{{i.name}}</option>
                </datalist> -->
            <select id="operator" [(ngModel)]="employee" select>
                <option value="none" selected disabled hidden>Selecione</option> 
                <option value="Todos">Todos</option>
                <option *ngFor="let i of employees" [ngValue]="i.email">{{i.name}}</option>
            </select>

        </div>
    
        <div class="filter-buttons-allsells">
            <button type="button" (click)="dateFilter()">Filtrar</button>
            <button type="button" (click)="clean()">Limpar</button>
        </div>
    
    </div>


    <div class="content">
    
        <div class="table-sell-list">
        <table>
            <thead>
                <td>Operadora</td>
                <td>Reserva</td>
                <td>Valor</td>
                <td>RAV</td>
                <td>Data</td>
                <td>Funcionário</td>
            </thead>
            <tbody *ngFor="let i of sellsFiltered" (click)="selectSell(i.id)">       
                    <td>{{i.operator}}</td>
                    <td>{{i.bookingNumber}}</td>
                    <td> R${{i.sellAmount |number:'1.2-2':'br'}}</td>
                    <td>R${{i.rav | number:'1.2-2':'br'}}</td>
                    <td>{{i.date | date:'dd/MM/y'}} </td>
                    <td>{{i.employeeName}}</td>
            </tbody>
            
            <tr>
                <td><hr></td>
                <td><hr></td>
                <td><hr></td>
                <td><hr></td>
                <td><hr></td>
                <td><hr></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td style="font-weight: 600;">Valor</td>
                <td style="font-weight: 600;">RAV</td>
                <td style="font-weight: 600;">Comissão</td>
            </tr>
            <tr>
            <td style="font-weight: 600;">Total</td>
            <td></td>
            <td>R${{totalSells | number:'1.2-2':'br'}}</td>
            <td>R${{totalRAV | number:'1.2-2':'br'}}</td>
            <td>R${{totalCommission | number:'1.2-2':'br'}}</td>
            </tr>
    
        </table>
    </div>

    <button *ngIf="isMoreShown==true" type="button" (click)="getSells()" >Carregar Mais</button>
    
    </div>

    
    
    </div>
    