<div class="sell-form-cotainer">

    <div class="formCard-sell">
           <h2 style="margin-bottom: 1rem;">Adicionar Venda</h2>
            <form [formGroup]="sellForm" (submit)="registersell()" action="" class="form">
                <div class="main">
                    <div class="fields">
                        <label for="operator">Operadora</label>
                        <select id="operator" formControlName="operator" style="width: 150px;">
                            <option *ngFor="let i of operators" [ngValue]="i.name">{{i.name}}</option>
                        </select>
                    </div>
                    <div class="fields">
                        <label for="bookingNumber">Reserva</label>
                        <input type="text"id="bookingNumber" formControlName="bookingNumber">
                    </div>
                    <div class="fields">
                        <label for="date">Data</label>
                        <input type="date"  id="date" formControlName="date">
                    </div>
                    <div class="fields">
                        <label for="sellAmount">Valor Venda</label>
                        <input id="sellAmount" placeholder="R$" formControlName="sellAmount" mask="separator.2" thousandSeparator=".">
                    </div>
                    <div class="fields">
                        <label for="rav">RAV</label>
                        <input id="rav" placeholder="R$" formControlName="rav" mask="separator.2" thousandSeparator=".">
                    </div>
                    <div class="fields">
                        <label for="overBonus">Over Bon.</label>
                        <input placeholder="R$" id="overBonus" formControlName="overBonus" mask="separator.2" thousandSeparator=".">
                    </div>
                   
                </div>

            </form>
            
            
            
            <button type="submit" (click)="registersell()">Adicionar</button>

    </div>

</div>