<div class="menu-conteiner">

    <div class="image-menu">
        <a routerLink="/homesystem">
        <img src="./assets/logo.png" alt="WJR Logo">
        </a>
    </div>
    <div class="options-container-menu">
        <ul class="options-list-menu">      
            <a 
            routerLink="/sell" 
            routerLinkActive="page_activated"
            ariaCurrentWhenActive="page" mouse>
            <li>Vendas</li>
        </a>
            <a routerLink="/management" 
            routerLinkActive="page_activated"
            ariaCurrentWhenActive="page" mouse>
            <li>Gerenciar</li>
        </a>
            <a routerLink="/customer" (click)="logout()"><li>logout</li></a>
        </ul>
    </div>

</div>