<div class="sell-container">


    <div class="filter-sell" style="margin-top: 2rem; border-right: solid gray 1px;">
        <div class="filter-date-sell">
            <span>Inicial:</span>
            <input type="date" name="" id="" [(ngModel)]="dateFrom">
        </div>
        <div class="filter-date-sell">
            <span>Final:</span>
            <input type="date" name="" id="" [(ngModel)]="dateTo">
        </div>
    
        <div class="filter-buttons-sell">
            <button type="button" (click)="dateFilter()">Filtrar</button>
            <button type="button" (click)="clean()">Limpar</button>
        </div>
    
    </div>

    <div class="content" >
    
        <div class="table-sell-list">
        <table>
            <thead>
                <td>Operadora</td>
                <td>Reserva</td>
                <td>Valor</td>
                <td>RAV</td>
                <td>Comissão</td>
            </thead>
            <tbody *ngFor="let i of sellsFiltered" (click)="selectSell(i.id)">       
                    <td>{{i.operator}}</td>
                    <td>{{i.bookingNumber}}</td>
                    <td> R${{i.sellAmount | number:'1.2-2':'br'}}</td>
                    <td>R${{i.rav | number:'':'br'}}</td>
                    <td></td>
            </tbody>
            <td style="font-weight: 600;">Total</td>
            <td></td>
            <td>R${{totalSells | number:'1.2-2':'br'}}</td>
            <td>R${{totalRAV | number:'1.2-2':'br'}}</td>
            <td>R${{totalCommission | number:'1.2-2':'br'}}</td>
    
        </table>
        </div>
    
    </div>
    
</div>
    