
.content{

    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sell-container{
    display: flex;
    flex-direction: row;
    justify-content: top;
    gap: 1rem;
}

.filter-sell{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem; 
    border-right: solid gray 1px;
}

.filter-date-sell{
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
}

.filter-buttons-sell > button{
    margin: 0.5rem;
}

.sell-list-container > table{
    border-color: solid black 2px;
}


thead{
    font-weight: 700;
    background-color: #1B5693;
    color: white;
}

td{
    padding: 0.5rem 0.5rem;
    
}

tbody:nth-child(even) {
    background-color: rgb(206, 203, 203);
}

tbody:hover{
    cursor: pointer;
    background-color: #4484BF;
    color: white;
}

table{
    margin-top: 1rem;
    border: #90171B solid 1px;
    border-radius: 1rem;
    padding: 0.5rem;
}




@media(max-width: 475px){
    .sell-container{
        flex-direction: column;
    }
    
    
    .filter-sell{
        padding: 0.2rem;
        border: none;
    }
    
    .filter-date-sell, .filter-employee-sell, .filter-buttons-sell{
        padding: 0;
    }
    
    
    thead{
        font-size: smaller;
    } 
    
    td{
        font-size: 10px;
    }
}