.management-container{
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.options-container-menu > *{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    text-decoration: none;
    list-style: none;
    color: black;
    padding-top: 0.5rem;
}

a{
    text-decoration: none;
    margin-left: 1rem;
    cursor: pointer;
}
a:hover{
font-weight: 600;
}

.tabs-management>*{
    margin: 1rem;
    padding: 0.3rem;
}

.content-management{
    margin-top: 2rem;
}

.page_activated{
    color: white;
    background-color: #1B5693;
}