<app-menu [userLogged]="user"></app-menu>

<div class="management-container">

    <div class="options-container-menu">
            <ul class="options-list-menu">      
            <a 
            (click)="toogle('cus')"
            >
                <li>Clientes</li>
            </a>
            <a 
            (click)="toogle('empl')"
            >
                <li>Funcionários</li>
            </a>        
            <a 
            (click)="toogle('oper')"
            >
                <li>Operadoras</li>
            </a>
            </ul>
    </div>


    <div class="content-management"*ngIf="isEmployeeShown==true">
        <app-employee-list ></app-employee-list>
    </div>
    <div class="content-management" *ngIf="isCustomerShown==true">
       <app-customer-list></app-customer-list>
    </div>
    <div class="content-management" *ngIf="isOperatorShown==true">
        <app-operator-list></app-operator-list>
     </div>
</div>

