<div class="customer-form-container">

    <div class="formCard-customer">
           <h2 style="margin-bottom: 1rem;">Adicionar Cliente</h2>
            <form [formGroup]="customerForm" (submit)="registercustomer()" action="" class="form">
                <div class="main">
                    <div class="fields">
                        <label for="name">Nome</label>
                    <input type="text"id="name" formControlName="name" placeholder="">
                    </div>
                    <div class="fields">
                        <label for="name">E-mail</label>
                        <input type="text"id="email" formControlName="email" placeholder="">
                    </div>
                    <div class="fields">
                        <label for="cpf">CPF</label>
                        <input id="cpf" formControlName="cpf" mask="000.000.000-00">
                    </div>
                    <div class="fields">
                        <label for="cpf">RG</label>
                        <input type="text"id="rg" formControlName="rg" placeholder="">
                    </div>
                    <div class="fields">
                        <label for="birth">Data Nasc.</label>
                        <input type="text" maxlength="10" id="birth" formControlName="birth" placeholder="dd/mm/aaaa" mask="00/00/0000">
                    </div>
                    <div class="fields">
                        <label for="places">Últimos Destinos</label>
                        <input type="text"id="places" formControlName="places">
                    </div>
                    <div class="fields">
                        <label for="tripDates">Data Viagens</label>
                        <input type="tripDates" id="tripDates" formControlName="tripDates" placeholder="">
                    </div>
                    <div class="fields">
                        <label for="whats">WhatsApp</label>
                        <input type="text"id="whats" formControlName="whats" placeholder="" mask="(00) 00000-0000">
                    </div>
                    <div class="fields">
                        <label for="phone">Telefone</label>
                        <input type="text"id="personal" formControlName="personal" placeholder="" mask="(00) 00000-0000">
                    </div>
        
                </div>
                <hr style="margin: 1rem;">
                <h4 style="margin: auto;">Dependente</h4>
                <div class="dependents">
                    <div class="fields">
                        <label for="name">Nome</label>
                        <input type="text"id="personal" formControlName="namedep1" placeholder="">
                    </div>
                    <div class="fields">
                        <label for="descriptiondep1">Descrição</label>
                        <input type="text"id="descriptiondep1" formControlName="descriptiondep1" placeholder="">
                    </div>
                    <div class="fields">
                        <label for="cpf">CPF</label>
                        <input id="cpf" formControlName="cpfdep1" mask="000.000.000-00">
                    </div>
                       <div class="fields">
                        <label for="rgdep1">RG</label>
                        <input type="text"id="rgdep1" formControlName="rgdep1" placeholder="">
                    </div>
                </div>

            </form>
            
            
            
            <button type="submit" (click)="registercustomer()">Adicionar</button>

    </div>

</div>