<div class="employee-list-container">


<div class="content">
    <div class="tabs-management">
        <button (click)="toogle()" >{{buttonText}}</button>
    </div>

    <div class="table-employee-list" *ngIf="isTableShown==true">
    <table>
        <thead>
            <td>Nome</td>
            <td>Email</td>
            <td>WhatsApp</td>
            <td>Cargo</td>
        </thead>
        <tbody *ngFor="let i of employees" 
        routerLink="/employee"
        (click)="print(i.cpf)">
            
                <td>{{i.name}}</td>
                <td>{{i.email}}</td>
                <td>{{i.phone[0].whats}}</td>
                <td>{{i.role}}</td>
            
        </tbody>

    </table>
    </div>

    <div class="employee-form" *ngIf="isTableShown==false">
        <app-employee-form></app-employee-form>
    </div>

</div>

</div>
