.table-employee-list > *{
    padding: 1rem;
}

.content{

    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.employee-list-container > table{
    border-color: solid black 2px;
}

thead{
    font-weight: 700;
    background-color: gray;
}