*{
    font-family: "Poppins", sans-serif;
    font-weight: normal;
}
a{
    text-decoration: none;
    color: black;
}
.pac-card-conteiner{
    width: 275px;
    height: 325px;

    overflow: hidden;

    border-radius: 1.5rem;

    box-shadow: 0px 0px 3px  rgba(0, 0, 0, .3);
}


.card-img img {
    width: 100%;
    height: 170px;
    margin-bottom: .5rem;
    transition: all 1s;
}

.card-img img:hover {
    transform: scale(1.1);
    transition: all 1s;
}

.pac-text{
    margin-left: 1rem;
    
}

.pac-text h1{
    font-size: 16px;
    font-family: "Poppins", sans-serif;
    font-weight: normal;
}

.pac-text h2{
    font-size: 14px;
    color: grey;
    margin-top: .5rem;

    text-shadow: 0px 0px 2px rgba(0, 0, 0, .2) ;
}

.tags{
    display: flex;
    margin-left: 1rem;
    margin-top: 1rem;
    border-radius: 1rem;
    gap: 1rem;
}

.tags h1{
    font-size: 10px;
    padding: .3rem;
    border-radius: 1rem;
    border: rgba(114, 115, 115, 0.445) dashed 1px;
}

.button{
    display: flex;
    justify-content: center;
    margin-top: .5rem;
    border-radius: 1rem;
}

.button h1{
    font-size: 14px;
    padding: .3rem;
    border-radius: .5rem;
    border: rgba(114, 115, 115, 0.445) solid 1px;
}

