<div class="operator-list-container">


    <div class="content">
        <div class="tabs-management" *ngIf="user.role=='admin'">
            <button (click)="toogle()" >{{buttonText}}</button>
        </div>
    
        <div class="table-operator-list" *ngIf="isTableShown==true">
        <table>
            <thead>
                <td>Nome</td>
                <td>Razão Social</td>
                <td>Nome Rep.</td>
                <td>Telefone Rep.</td>
            </thead>
            <tbody *ngFor="let i of operators" 
            routerLink="/operator"
            (click)="print(i.id)">
                <td>{{i.name}}</td>
                <td>{{i.companyName}}</td>
                <td>{{i.representativeName}}</td>
                <td>{{i.representativePhone | mask:'(00) 00000-0000'}}</td>
            </tbody>
        </table>
        </div>
    
        <div class="operator-form" *ngIf="isTableShown==false">
            <app-operator-form></app-operator-form>
        </div>
    
    </div>
    
    </div>
    