nav{
    position: fixed;
    padding: 1rem 0 1rem;

    display: flex;
    width: 100%;
    z-index: 1;
    transition: all 1s;
}

p, h1, span, b {
    font-family: "Poppins", sans-serif;
}

.navbg{
    background-color: rgba(240, 248, 255, 0);
    color: brown;
}

.navbgdown{

    background-color: white;
    color: black;

    box-shadow: 1px 1px 5px black;
}

.navbg ul a {
    color: white;
    text-shadow: 1px 1px 7px black;
}



ul{
    display: flex;
    list-style: none;
    margin: auto;
    gap: 2rem;
}

a{
    color: black;
    text-decoration: none;
    font-size: larger;

    transition: all 1s;
}

.main-banner{
    position: relative;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.image{
    max-width: 100%;
    position: relative;
}

.image img {
    display: block;
    margin: auto;
    width: 100%;
}

.text-banner{
  width: 100%;
  height: 100%;
  position: absolute;
  top: -10%;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
  text-shadow: 1px 1px 17px black;
}

.text-banner h1 {
    font-size: 50px;
}

.text-banner p {
    font-size: 25px;
}


.logo-banner{
    width: 100%;
    height: 100%;
    position: absolute;
    top: -25%;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.button-banner{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 8%;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.button-banner button {
    width: 100px;
    font-weight: bold;
}


.button-banner a {
    cursor: default;
}



#serviços,
#pacotes,
#contato
{
    margin: 0 3rem 5rem 3rem;
    display: flex;
    align-items: center;     
}

#pacotes{
    display: flex;
    flex-direction: column;
    
}

#pacotes h1{
    font-size: 40px;
    font-weight: bold;
    font-family: "Poppins", sans-serif;
    animation: fade linear;
    animation-timeline: view();
}

.pac{
    display: flex;
    gap: 2rem;
    margin-top: 3rem;
}


.serv-text h1{
    font-size: 40px;
    font-weight: bold;
    margin: 3rem 0 2rem;
    font-family: "Poppins", sans-serif;
    animation: fade linear;
    animation-timeline: view();
}

@keyframes fade {
    0%{
        
        opacity: 30%;
        transform: translateY(100%);

        offset-position: 3rem;
    }
    85%{
        
        opacity: 1;
        transform: translateY(0%);
        offset-position: 0;
    }
    
}

.serv-img{
    max-width: 50%;
    overflow: hidden;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    animation: fadeimg linear;
    animation-timeline: view();
    
}

@keyframes fadeimg {
    0%{
        transform: translateX(50%);
        offset-position: 3rem;
    }

    50%{
        transform: translateX(0%);
        offset-position: 0;
    }
    
}


.serv-img img{
    transition: all 1s;

}

.serv-img:hover img {
    
    transform: scale(1.1);
    transition: all 1s;
}



.serv-list {
    border: black solid green;
    margin: 3rem 0 3rem;
}


.serv-list span{
    font-size: 26px;
    font-family: "Poppins", sans-serif;
}

.serv-list p{
    font-size: 13px;
    max-width: 70%;
    color: rgb(108, 107, 107);
    padding-top: .5rem;
    font-family: "Poppins", sans-serif;
}


#contato{
    display:flex;
    flex-direction: column;
    align-items: center;
}

#contato h1{
    font-size: 40px;
    font-weight: bold;
    animation: fade linear;
    animation-timeline: view();
}

#contato h2{
    margin: .5rem 0 .5rem;
    font-size: 20px;
    font-weight: 400;
    text-align: center;
}

#contato h3{
    margin: .2rem 0 .5rem;
    font-size: 14px;
    font-weight: 300;
    text-align: center;
}

.maps{
    display: flex;
    gap: 2rem;
    margin-top: 2rem;

}
iframe{
    border-radius: 1rem;
    border: 0;
    box-shadow: 0px 0px 4px black;
    width: 400px;
    height: 150px;

}

.footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 2px 0px 7px black;
    height:280px;
    background-color: #1B5693;
    bottom: 0;
}

.footer * {
    margin-bottom: 2rem;
}

.footer img{
    margin-top: 2rem;
    width: 150px;
    filter: brightness(300);
    transition: all 1.5s;
}
.footer img:hover{
    transform: scale(1.1);
    transition: all 1.5s;
    
}

.footer h1{
    font-size: 16px;
    font-weight: 300;
    color: white;
    
}

.footer a h1 {
    font-size: 16px;
    font-weight: 300;
    color: white;
    
}

.footer a h1:hover{

    text-shadow: 0px 0px 3px black;
}