<nav id="navbar" class="navbg">
    <ul>
       <a href="#home"><li>Home</li></a>
        <a href="#pacotes"><li>Pacotes</li></a>
       <a href="#serviços"> <li>Serviços</li></a>
       <a href="#sobre"> <li>Sobre</li></a>
    </ul>
</nav>

<div class="home-container" >


<div id="home" class="main-banner" style="border: solid 1px rgba(175, 21, 21, 0.591);">
   <div class="image">
        <img src="./assets/landscape.jpg">
        <div class="text-banner">
            <h1>VAMOS CONHECER O MUNDO!</h1>
            <p>Venha conosco descobrir o que ha nesta terra.</p>
        </div>
        <div class="logo-banner">
            <img src="./assets/logo.png" style="max-width: 200px;">
        </div>
        <div class="button-banner">
            <button type="button"> Orçamento</button>
        </div>
</div>
</div>



<div id="pacotes"  style="border: solid 1px rgba(175, 21, 21, 0.591);margin-bottom: 250px;" >
    <h2 style="margin-top: 50px;">Pacotes</h2>
    <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit facere fugiat debitis est officiis maiores esse quod dicta molestiae perferendis dignissimos deserunt quae, exercitationem id nihil porro asperiores cum deleniti!</span>
</div>

<div id="serviços" style="margin-bottom: 250px;" >
    <h2 style="margin-top: 50px;">Serviços</h2>
    <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit facere fugiat debitis est officiis maiores esse quod dicta molestiae perferendis dignissimos deserunt quae, exercitationem id nihil porro asperiores cum deleniti!</span>
</div>

<div id="sobre" style="margin-bottom: 4000px;">
    <h2 style="margin-top: 50px;">Sobre</h2>
    <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit facere fugiat debitis est officiis maiores esse quod dicta molestiae perferendis dignissimos deserunt quae, exercitationem id nihil porro asperiores cum deleniti!</span>
</div>

</div>

