<nav id="navbar" class="navbg">
    <ul>
       <a href="#home"><li>Home</li></a>
        <a href="#pacotes"><li>Pacotes</li></a>
       <a href="#serviços"> <li>Serviços</li></a>
       <a href="#contato"> <li>Contato</li></a>
    </ul>
</nav>

<div class="home-container" >


<div id="home" class="main-banner">
   <div class="image">
        <img src="./assets/landscape.jpg">
        <div class="text-banner">
            <h1>VAMOS CONHECER O MUNDO!</h1>
            <p>Venha conosco descobrir o que ha nesta terra.</p>
        </div>
        <div class="logo-banner">
            <img src="./assets/logo.png" style="max-width: 200px;">
        </div>
        <div class="button-banner">
            <button type="button"> Orçamento</button>
        </div>
</div>
</div>



<div id="pacotes">
    <h1 style="margin-top: 3rem;">Pacotes de Viagens 🛫</h1>
    <div class="pac">
        <app-pac-card style="transform: translateY(20%);"
            [srcImg]="packages[0].imageLink" 
            [city]="packages[0].city"
            [pais]="packages[0].country"
            [price]="packages[0].price"
            [dias]="packages[0].days"
            [noites]="packages[0].nights"
            [monthTrip]="packages[0].monthTrip"
            [atv]="packages[0].activities"
        ></app-pac-card>

        <app-pac-card 
            [srcImg]="packages[1].imageLink" 
            [city]="packages[1].city"
            [pais]="packages[1].country"
            [price]="packages[1].price"
            [dias]="packages[1].days"
            [noites]="packages[1].nights"
            [monthTrip]="packages[1].monthTrip"
            [atv]="packages[1].activities"
        ></app-pac-card>

        <app-pac-card style="transform: translateY(20%);"
            [srcImg]="packages[2].imageLink" 
            [city]="packages[2].city"
            [pais]="packages[2].country"
            [price]="packages[2].price"
            [dias]="packages[2].days"
            [noites]="packages[2].nights"
            [monthTrip]="packages[2].monthTrip"
            [atv]="packages[2].activities"
        ></app-pac-card>

        <app-pac-card
            [srcImg]="packages[3].imageLink" 
            [city]="packages[3].city"
            [pais]="packages[3].country"
            [price]="packages[3].price"
            [dias]="packages[3].days"
            [noites]="packages[3].nights"
            [monthTrip]="packages[3].monthTrip"
            [atv]="packages[3].activities"
        ></app-pac-card>

    </div>
</div>

<div id="serviços" >
    
    <div class="serv-text" style="width: 50%;">
        <h1>Serviços que oferecemos</h1>
        <div class="serv-list">
            <span>01. <b>Planos de Viagens</b></span>
            <p>Tenha todo o itinerário para descobrir e aproveitar ao máximo a sua viagem</p>
        </div>
        <div class="serv-list">
            <span>02. <b>Passagens Áereas</b></span>
            <p>Descubra seu próximo destino dos sonhos. Encontre ofertas em voos domésticos e internacionais</p>
        </div>
        <div class="serv-list">
            <span>03. <b>Acomodação</b></span>
            <p>Hospedagem, alimentação e serviços relacionados. Tomamos conta de tudo para você curtir sua viagem </p>
        </div>
    </div>
    <div class="serv-img">
        <img src="./assets/services.jpg">
    </div>
</div>

<div id="contato">
    <h1>Contato</h1>
    <h2> Entre em contato conosco e proporcionaremos a você as melhores experiências em viagens. Para melhor te atendermos estamos localizados em duas cidades no sul goiano: Itumbiara e Rio Verde</h2>
    <div class="maps">
        <div class="iubmap">
            
            <iframe src="https://maps.google.com/maps?width=100%25&amp;height=600&amp;hl=en&amp;q=WJR%20Turismo%20Itumbiara+(WJR%20Turismo)&amp;t=&amp;z=15&amp;ie=UTF8&amp;iwloc=B&amp;output=embed" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            <h2>Escritório Itumbiara</h2>
            <h3>Av. Brasília, 123 C - Alto da Boa Vista, Itumbiara - GO.</h3>
            <h3>Frente ao Capim de Ouro.</h3>
        </div>
        <div class="rvmap">
            
            <iframe src="https://maps.google.com/maps?width=100%25&amp;height=600&amp;hl=en&amp;q=WJR%20Turismo%20Rio%20verde+(WJR%20Turismo)&amp;t=&amp;z=15&amp;ie=UTF8&amp;iwloc=B&amp;output=embed" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            <h2> Escritório Rio Verde</h2>
            <h3>Av. Pres. Vargas, 1740 - Jardim Goias, Rio Verde - GO.</h3>
            <h3>Localizado no Shopping Rio Verde.</h3>
        </div>
    </div>
</div>

<div class="footer">
    <img src="./assets/logo.png">
    <h1>Todos os Direitos Reservados © 2024 </h1>
    <hr style="width: 80%; border: white solid .5px; border-radius: 1rem;">
    <a href="#"><h1>Desenvolvido por MaxFideles </h1></a>
</div>

</div>

