
.content{

    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.customer-list-container > table{
    border-color: solid black 2px;
}

button{
    color: white;
    padding: 0.4rem;
    border: solid black 1px;
    border-radius: 1rem;
    background-color: #1B5693;

}

button:hover{
    background-color: #4484BF;
}

thead{
    font-weight: 700;
    background-color: #1B5693;
    color: white;
}

td{
    padding: 0.5rem 0.5rem;
    
}

tbody:nth-child(even) {
    background-color: rgb(206, 203, 203);
}

tbody:hover{
    cursor: pointer;
    background-color: #4484BF;
    color: white;
}

table{
    margin-top: 1rem;
    border: #90171B solid 1px;
    border-radius: 1rem;
    padding: 0.5rem;
}